@font-face {
  font-family: "TT Lakes";
  src: url("/fonts/TTLakes-Bold.woff");
}
@font-face {
  font-family: "TT Lakes-Extra-Demibold";
  src: url("/fonts/TTLakes-DemiBold.woff");
}

@font-face {
  font-family: "TT Lakes-DemiBold";
  src: url("/fonts/TTLakes-Thin.woff");
}

/*Обнуляем отступы*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}
/*Шапка*/
.header {
  width: 320px;
  display: flex;
  height: 88px;
  margin-left: auto;
  margin-right: auto;
}
/*разрешение для хедера мин 768*/
@media (min-width: 768px) {
  .header {
    width: 768px;
    height: 88px;
  }
}
/*разрешение 1120px для hedera (отключаем)*/
@media (min-width: 1120px) {
  .header {
    display: none;
  }
}
.header__menu {
  display: flex;
}

/*Бургер */
.header__burger {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 16px;
  margin-right: 264px;
}
/*Разрешение 768 Бургер*/
@media (min-width: 768px) {
  .header__burger {
    margin-top: 24px;
    margin-left: 24px;
  }
}

/*линии бургера*/
.header__burger--top-line {
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: white;
  margin-top: 12px;
  margin-bottom: 26px;
  margin-left: 11px;
}
/*центральная линия бургера*/
.header__burger--center-line {
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: white;
  margin-top: 19px;
  margin-left: 11px;
}
.header__burger--bottom-line {
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: white;
  margin-top: 26px;
  margin-left: 11px;
}
/*C P S логотип*/
.header__group {
  display: flex;
  position: absolute;
  margin-top: 18.59px;
  margin-left: 72.73px;
  width: 96.55px;
  height: 50.81px;
}
/*Разрешение 768px Логотип C P S*/
@media (min-width: 768px) {
  .header__group {
    margin-top: 18.59px;
    margin-left: 106.73px;
  }
}
/*Буквы логотипа  C P S*/
.header__group--fill3 {
  margin-top: 24.68px;
  margin-right: 29.76px;
}
.header__group--fill5 {
  position: absolute;
  margin-top: 10.16px;
  margin-left: 11.61px;
}

.header__group--fill6 {
  position: absolute;
  margin-top: 10.16px;
  margin-left: 40.65px;
}
.header__group--fill7 {
  position: absolute;
  margin-top: 10.16px;
  margin-left: 62.43px;
}
.header__group--fill1 {
  position: absolute;
  margin-top: 0;
  margin-right: 0;
  margin-left: 34.84px;
}
/*Делитель*/
.header__divider1 {
  display: none;
}
/*Делитель 1 для разрешения 768*/
@media (min-width: 768px) {
  .header__divider1 {
    display: flex;
    position: absolute;
    width: 2px;
    height: 32px;
    margin-top: 28px;
    margin-left: 84px;
    border-radius: 1px;
  }
}

.header__divider2 {
  display: flex;
  position: absolute;
  width: 2px;
  height: 32px;
  margin-top: 28px;
  margin-left: 186px;
  border-radius: 1px;
}
/*Делитель 2 для разрешение 768px*/
@media (min-width: 768px) {
  .header__divider2 {
    display: flex;
    position: absolute;
    width: 2px;
    height: 32px;
    margin-top: 28px;
    margin-left: 626px;
    border-radius: 1px;
  }
}

/*фон кнопки с ключём и отвёрткой*/
.header__repair {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: 24px;
  margin-left: 208px;
}
/*Разрешение 768px иконка отвертки и ключа */
@media (min-width: 768px) {
  .header__repair {
    margin-top: 24px;
    margin-left: 648px;
  }
}
.main .header__repair--copy {
  display: none;
}
/*Разрешение 1120px иконка отвертки и ключа*/
@media (min-width: 1120px) {
  .main .header__repair--copy {
    display: flex;
    position: absolute;
    margin-top: 42px;
    margin-left: 848px;
  }
}
/*main__application - Оставить заявку*/
.main__application {
  display: none;
  font-family: "TT Lakes-Extra-Demibold";
  font-size: 16px;
  position: absolute;
  margin-top: 50px;
  margin-left: 715px;
}
/*Разрешение 1120px для Оставить заявку */
@media (min-width: 1120px) {
  .main__application {
    display: flex;
  }
}
/*main__repair--status - статус ремонта*/
.main__repair--status {
  display: none;
  font-family: "TT Lakes-Extra-Demibold";
  position: absolute;
  margin-top: 50px;
  margin-left: 920px;
}
/*Разрешение 1120px для статус ремонта*/
@media (min-width: 1120px) {
  .main__repair--status {
    display: flex;
  }
}
/*header__checkstatus--copy*/
.header__checkstatus--copy {
  display: none;
}

/*Разрешение 1120px для header__checkstatus--copy*/
@media (min-width: 1120px) {
  .header__checkstatus--copy {
    display: flex;
    position: absolute;
    margin-top: 42px;
    margin-left: 1048px;
  }
}

.header__repair--group {
  display: flex;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 10px 10px 10px 10px;
}
.header__repair--tip {
  position: absolute;
  display: flex;
  margin-left: 11px;
}
.header__repair--lever {
  position: absolute;
  display: flex;
  margin-top: 11px;
}
/*Чек статус*/
.header__checkstatus {
  position: absolute;
  margin-top: 24px;
  margin-left: 264px;
}
/*Разрешение 768px чек статус*/
@media (min-width: 768px) {
  .header__checkstatus {
    margin-top: 24px;
    margin-left: 704px;
  }
}

.header__checkstatus--back {
  position: absolute;
}
.header__checkstatus--icon {
  position: absolute;
  margin-top: 10px;
  margin-left: 12px;
}
/*header__call (телефон)*/
.header__call {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 454px;
  margin-top: 24px;
}
.call__back {
  position: absolute;
}

.call-ic {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  margin-bottom: 11.04px;
  margin-right: 11.04px;
  width: 17.96px;
  height: 17.96px;
}
/*Иконка Чата*/
.header__chat {
  display: none;
  position: absolute;
  margin-top: 24px;
  margin-left: 510px;
}
.chat__back {
  position: absolute;
}
.chat__ic {
  position: absolute;
  margin-top: 11px;
  margin-left: 10px;
}
/*Разрешение 768px чат иконка*/
@media (min-width: 768px) {
  .header__chat {
    display: flex;
  }
}

/*Профиль header__profile*/
.header__profile {
  display: none;
  position: absolute;
  margin-top: 24px;
  margin-left: 566px;
}
.profile__back {
  display: flex;
  position: absolute;
}
.profile__group {
  position: absolute;
  display: flex;
  width: 20px;
  height: 18px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 12px;
}
.group__oval {
  position: absolute;
  width: 9px;
  height: 9px;
  display: flex;
  margin-left: 6px;
}
.group__path {
  position: absolute;
  display: flex;
  align-self: flex-end;
}

/*Разрешение 768px для header__profile*/
@media (min-width: 768px) {
  .header__profile {
    display: flex;
  }
}

/*Разрешение 768px для header__call */
@media (min-width: 768px) {
  .header__call {
    display: flex;
  }
}

/*Нижний неон хедера*/
.header__shadow {
  display: flex;
  margin-top: 87px;
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: #d9fff5;
}
/*Разрешение 768px неон хедера*/
@media (min-width: 768px) {
  .header__shadow {
    width: 768px;
    height: 1px;
  }
}

/*Main*/
.main {
  display: flex;
  width: 320px;
  height: 509px;
  margin-left: auto;
  margin-right: auto;
}
/*Разрешение для Main 768px*/
@media (min-width: 768px) {
  .main {
    width: 769px;
    height: 416px;
  }
}
/*Разрешение 1120px для Main*/
@media (min-width: 1120px) {
  .main {
    width: 1120px;
    height: 535px;
  }
}

.main__title {
  display: flex;
  margin-top: 24px;
  width: 304px;
  height: 40px;
}
/*Разрешение на title (услуги и сервисы) 768px*/
@media (min-width: 768px) {
  .main__title {
    width: 257px;
    height: 40px;
  }
}

/*Разрешение 1120px для main__title*/
@media (min-width: 1120px) {
  .main__title {
    width: 266px;
    height: 40px;
    margin-top: 42px;
    margin-left: 1px;
  }
}

.main__title--text {
  display: flex;
  margin-top: 0;
  margin-left: 16px;
  width: 288px;
  height: 40px;
  font-size: 28px;
  font-family: "TT Lakes";
}

@media (min-width: 768px) {
  .main__title--text {
    display: flex;
    width: 233px;
    height: 40px;
    margin-left: 20px;
    white-space: nowrap;
  }
}

/*Разрешение 1120px для main__title--text */
@media (min-width: 1120px) {
  .main__title--text {
    margin-left: 30px;
  }
}
/*highlight - лазурная палочка */
.main__highlight {
  display: flex;
  width: 4px;
  height: 40px;
}
/*отклчение highlight2 - лазурная палочка */
.main__highlight2 {
  display: none;
}
/*Разрешение 1120px для лазурной палочки */
@media (min-width: 1120px) {
  .main__highlight {
    display: none;
  }
  .main__highlight2 {
    display: flex;
  }
}
/*кнопки*/

.main__slidemenu {
  display: flex;
  position: absolute;
  width: 265px;
  height: 45px;
  margin-top: 88px;
  margin-left: 16px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: white;
}
/*кнопки background разрешение 768*/
@media (min-width: 768px) {
  .main__slidemenu {
    width: 776px;
    height: 45px;
    margin-top: 96px;
    margin-left: 24px;
  }
}
/*Разрешение 1120px .main__slidemenu - кнопки меню*/
@media (min-width: 1120px) {
  .main__slidemenu {
    overflow: none;
    flex-wrap: wrap;
    width: 1063px;
    height: 82px;
    margin-top: 90.37px;
    margin-left: 32px;
  }
}
::-webkit-scrollbar {
  height: 3px; /* высота для горизонтального скролла */
}
::-webkit-scrollbar-thumb {
  background-color: #09e0f0;
  border-radius: 6px;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

.main__slidemenu--button1 {
  font-family: "TT Lakes-Extra-Demibold";
  font-size: 16px;
  color: #7e7e82;
  width: 246px;
  height: 40px;
  border: none;
  background-color: white;
}
.main__slidemenu--button1:hover {
  border-radius: 6px;
  border: 2px solid #b8ffec;
}
.main__slidemenu--button2 {
  font-family: "TT Lakes-Extra-Demibold";
  font-size: 16px;
  color: #7e7e82;
  width: 246px;
  height: 40px;
  border: none;
  background-color: white;
}

.main__slidemenu--button2:hover {
  border-radius: 6px;
  border: 2px solid #b8ffec;
}

.main__slidemenu--button3 {
  font-family: "TT Lakes-Extra-Demibold";
  font-size: 16px;
  color: #7e7e82;
  width: 246px;
  height: 40px;
  border: none;
  background-color: white;
}
.main__slidemenu--button3:hover {
  border-radius: 6px;
  border: 2px solid #b8ffec;
}
.main__slidemenu--button4 {
  font-family: "TT Lakes-Extra-Demibold";
  font-size: 16px;
  color: #7e7e82;
  width: 246px;
  height: 40px;
  border: none;
  background-color: white;
}
.main__slidemenu--button4:hover {
  border-radius: 6px;
  border: 2px solid #b8ffec;
}
.main__slidemenu--button5 {
  font-family: "TT Lakes-Extra-Demibold";
  font-size: 16px;
  color: #7e7e82;
  width: 246px;
  height: 40px;
  border: none;
  background-color: white;
}
.main__slidemenu--button5:hover {
  border-radius: 6px;
  border: 2px solid #b8ffec;
}
.main__slidemenu--button6 {
  font-family: "TT Lakes-Extra-Demibold";
  font-size: 16px;
  color: #7e7e82;
  width: 75px;
  height: 40px;
  border: none;
  background-color: white;
}
.main__slidemenu--button6:hover {
  border-radius: 6px;
  border: 2px solid #b8ffec;
}

/*ширина кнопки для разрешение 768*/
@media (min-width: 768px) {
  .main__slidemenu--button1 {
    width: 240px;
  }
  .main__slidemenu--button2 {
    width: 220px;
  }
  .main__slidemenu--button3 {
    width: 150px;
  }
  .main__slidemenu--button4 {
    width: 248px;
  }
  .main__slidemenu--button5 {
    width: 200px;
  }
  .main__slidemenu--button6 {
    width: 73px;
  }
}
/*Разрешение 1120px ширина кнопки*/
@media (min-width: 1120px) {
  .main__slidemenu--button2 {
    width: 220px;
  }
  .main__slidemenu--button3 {
    width: 150px;
  }
  .main__slidemenu--button5 {
    width: 200px;
  }
  .main__slidemenu--button6 {
    width: 90px;
  }
}

/*main__blockinfo*/
.main__blockinfo {
  position: absolute;
  margin-top: 152px;
  margin-left: 16px;
  width: 288px;
  height: 90px;
}
/*Текск для разрешения 768*/
@media (min-width: 768px) {
  .main__blockinfo {
    display: flex;
    flex-wrap: wrap;
    width: 312px;
    height: 160px;
    margin-top: 168px;
    margin-left: 24px;
  }
}
/*Разрешение 1120px для main__blockinfo */
@media (min-width: 1120px) {
  .main__blockinfo {
    width: 490px;
    height: 160px;
    margin-top: 188.22px;
    margin-left: 32px;
  }
}

.info__text1 {
  color: #1b1c21;
  font-size: 14px;
  font-family: "TT Lakes-Extra-Demibold";
}
.info__text2 {
  display: none;
}
@media (min-width: 768px) {
  .info__text2 {
    display: flex;
    align-self: flex-end;
    color: #1b1c21;
    font-size: 14px;
    font-family: "TT Lakes-Extra-Demibold";
    flex-wrap: wrap;
  }
}
/*Разрешение 1120px для .info__text2*/
@media (min-width: 1120px) {
  .info__text2 {
    display: none;
  }
}

/*info__text3*/
.info__text3 {
  display: flex;
  align-self: flex-end;
  color: #1b1c21;
  font-size: 14px;
  font-family: "TT Lakes-Extra-Demibold";
}

.info__text3 {
  display: none;
}

/*Разрешение 1120px .info__text3*/
@media (min-width: 1120px) {
  .info__text3 {
    display: flex;
  }
}
.main__readmore {
  position: absolute;
  display: flex;
  width: 132px;
  height: 24px;
  margin-top: 258px;
  margin-left: 16px;
}
/*Для стрелок разрешение 768*/
@media (min-width: 768px) {
  .main__readmore {
    margin-top: 338px;
    margin-left: 25px;
  }
}

/*Разрешение 1120px для .main__readmore*/
@media (min-width: 1120px) {
  .main__readmore {
    margin-top: 362px;
    margin-left: 32px;
  }
}

.block__arrows {
  display: flex;
  width: 24px;
  height: 24px;
}
.block__arrows--icon {
  position: absolute;
  display: flex;
  align-self: center;
  margin-left: 8px;
  width: 7.41px;
  height: 10.29px;
}

.block__text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 24px;
  margin-left: 32px;
  font-family: "TT Lakes-Extra-Demibold";
  font-size: 16px;
  white-space: nowrap;
}
/*блок картинки*/
.main__picture {
  display: flex;
  position: absolute;
  width: 320px;
  height: 176px;
  margin-top: 298px;
}
/*блок с boreder 6 px*/
.main__picture--border {
  display: none;
  position: absolute;
  width: 360px;
  height: 208px;
}

/*Блок с картинкой разрешение 768*/
@media (min-width: 768px) {
  .main__picture {
    display: none;
  }
  .main__picture--border {
    display: flex;
    position: absolute;
    border-radius: 6px;
    margin-top: 168px;
    margin-left: 384px;
  }
}

/*Разрешение 1120px для  картики*/
@media (min-width: 1120px) {
  .main__picture--border {
    display: flex;
    position: absolute;
    width: 531.35px;
    height: 307px;
    border-radius: 6px;
    margin-top: 179px;
    margin-left: 560px;
  }
}

/*MOBIL_MENU***********************MOBIL_MENU*/
/*Прямоугольник*/

.rectangle {
  width: 320px;
  height: 1024px;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
}

/*Maun__menu*/
.main__menu {
  position: absolute;
  width: 222px;
  height: 876px;
  margin-top: 116px;
}
/*contact*/
.contact {
  position: absolute;
  width: 196px;
  height: 124px;
  margin-top: 804px;
  margin-left: 24px;
}

/*.ic__burger - бургер */
.ic__burger {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: 23px;
  margin-left: 24px;
}
.ic__burger--back {
  position: absolute;
  width: 40px;
  height: 40px;
}
.ic__burger--icon {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: 12px;
  margin-left: 12px;
}
.icon {
  position: absolute;
  width: 16px;
  height: 16px;
}
/*group - C P S */
.group {
  position: absolute;
  width: 97px;
  height: 51px;
  margin-top: 18.73px;
  margin-left: 80.73px;
}
.group__fill3 {
  position: absolute;
  margin-top: 24.68px;
}
.group__fill5 {
  position: absolute;
  margin-top: 10.16px;
  margin-left: 11.61px;
}
.group__fill6 {
  position: absolute;
  margin-top: 10.16px;
  margin-left: 40.65px;
}
.group__fill7 {
  position: absolute;
  margin-top: 10.16px;
  margin-left: 62.43px;
}
.group__fill1 {
  position: absolute;
  margin-left: 34.84px;
}
/*ic__search - лупа*/
.ic__search {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: 23px;
  margin-left: 256px;
}
.ic__search--back {
  position: absolute;
}
.ic__search--icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
}

/*main__menu--line - лазурная линия вертикальная */

.main__menu--line {
  position: absolute;
}

/*button__list - кнопки 8 штук*/
.button__list {
  display: inline-block;
  white-space: nowrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.button__list li {
  font-family: "TT Lakes-Extra-Demibold";
  font-size: 16px;
  letter-spacing: -0.2px;
  transform: translateX(24px);
  margin-top: 32px;
  transition-duration: 1s;
  transition-property: duration, opacity;
}
/*цвет меню */

.button__list li a:nth-child(1) {
  text-decoration-line: none;
  color: #1b1c21;
}
.button__list li:nth-child(1) {
  margin-top: 4px;
}
/*:hover*/
.button__list li:hover {
  transition-duration: 0.5s;
  opacity: 0.5;
  font-size: 17px;
}

/*Contact__mail - еМайл*/
.contact__mail {
  position: absolute;
  transform: translate(0, 56px);
  font-family: "TT Lakes-Extra-Demibold";
  letter-spacing: -0.2px;
}
/*ic_chat - иконка телефон */

.ic_chat {
  position: absolute;
  width: 40px;
  height: 40px;
}
.ic__chat--back {
  position: absolute;
}
.ic__chat--icon {
  position: absolute;
  transform: translate(11px, 11px);
}

/*ic__sms -- иконка сообщение*/
.ic__sms--back {
  position: absolute;
  transform: translateX(56px);
}
.ic__sms--icon {
  position: absolute;
  transform: translate(66px, 11px);
}
/*ic__profile -- иконка профиля */
.ic__profile--back {
  position: absolute;
  transform: translate(112px);
}
.ic__profile--icon {
  position: absolute;
  transform: translate(122px, 10px);
}

/*contact__telefon -- номер телефона*/
.contact__telefon {
  position: absolute;
  align-self: flex-end;
  transform: translateY(92px);
  font-size: 24px;
  letter-spacing: -0.6px;
  font-family: "TT Lakes";
}

/*lang*/
.lang {
  position: absolute;
  margin-top: 967px;
  margin-left: 24px;
  width: 87px;
  height: 24px;
  letter-spacing: -0.2px;
  font-family: "TT Lakes-Extra-Demibold";
}

.lang__ru {
  position: absolute;
  width: 24px;
  height: 24px;
  color: #1b1c21;
  transition-duration: 1s;
  transition-property: duration, opacity;
}
.lang__en {
  position: absolute;
  transform: translate(32px);
  width: 24px;
  height: 24px;
  color: #1b1c21;
  transition-duration: 1s;
  transition-property: duration, opacity;
}
.lang__ch {
  position: absolute;
  transform: translate(63px);
  width: 24px;
  height: 24px;
  color: #1b1c21;
  transition-duration: 1s;
  transition-property: duration, opacity;
}
/*стиль для мышки*/
.lang__ru:hover {
  transition-duration: 0.2s;
  opacity: 0.5;
}
.lang__en:hover {
  transition-duration: 0.2s;
  opacity: 0.5;
}
.lang__ch:hover {
  transition-duration: 0.2s;
  opacity: 0.5;
}
