@font-face {
  font-family: "TT Lakes";
  src: url("/fonts/TTLakes-Bold.woff");
}
@font-face {
  font-family: "TT Lakes-Extra-Demibold";
  src: url("/fonts/TTLakes-DemiBold.woff");
}

@font-face {
  font-family: "TT Lakes-DemiBold";
  src: url("/fonts/TTLakes-Thin.woff");
}

/*Обнуляем отступы*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/*MOBIL_MENU***********************MOBIL_MENU*/
/*Прямоугольник*/

.rectangle {
  width: 320px;
  height: 1024px;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
}

/*Maun__menu*/
.main__menu {
  position: absolute;
  width: 222px;
  height: 876px;
  margin-top: 116px;
}
/*contact*/
.contact {
  position: absolute;
  width: 196px;
  height: 124px;
  margin-top: 804px;
  margin-left: 24px;
}

/*.ic__burger - бургер */
.ic__burger {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: 23px;
  margin-left: 24px;
}
.ic__burger--back {
  position: absolute;
  width: 40px;
  height: 40px;
}
.ic__burger--icon {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: 12px;
  margin-left: 12px;
}
.icon {
  position: absolute;
  width: 16px;
  height: 16px;
}
/*group - C P S */
.group {
  position: absolute;
  width: 97px;
  height: 51px;
  margin-top: 18.73px;
  margin-left: 80.73px;
}
.group__fill3 {
  position: absolute;
  margin-top: 24.68px;
}
.group__fill5 {
  position: absolute;
  margin-top: 10.16px;
  margin-left: 11.61px;
}
.group__fill6 {
  position: absolute;
  margin-top: 10.16px;
  margin-left: 40.65px;
}
.group__fill7 {
  position: absolute;
  margin-top: 10.16px;
  margin-left: 62.43px;
}
.group__fill1 {
  position: absolute;
  margin-left: 34.84px;
}
/*ic__search - лупа*/
.ic__search {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: 23px;
  margin-left: 256px;
}
.ic__search--back {
  position: absolute;
}
.ic__search--icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
}

/*main__menu--line - лазурная линия вертикальная */

.main__menu--line {
  position: absolute;
}

/*button__list - кнопки 8 штук*/
.button__list {
  display: inline-block;
  white-space: nowrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.button__list li {
  font-family: "TT Lakes-Extra-Demibold";
  font-size: 16px;
  letter-spacing: -0.2px;
  transform: translateX(24px);
  margin-top: 32px;
  transition-duration: 1s;
  transition-property: duration, opacity;
}
/*цвет меню */

.button__list li a:nth-child(1) {
  text-decoration-line: none;
  color: #1b1c21;
}
.button__list li:nth-child(1) {
  margin-top: 4px;
}
/*:hover*/
.button__list li:hover {
  transition-duration: 0.5s;
  opacity: 0.5;
  font-size: 17px;
}

/*Contact__mail - еМайл*/
.contact__mail {
  position: absolute;
  transform: translate(0, 56px);
  font-family: "TT Lakes-Extra-Demibold";
  letter-spacing: -0.2px;
}
/*ic_chat - иконка телефон */

.ic_chat {
  position: absolute;
  width: 40px;
  height: 40px;
}
.ic__chat--back {
  position: absolute;
}
.ic__chat--icon {
  position: absolute;
  transform: translate(11px, 11px);
}

/*ic__sms -- иконка сообщение*/
.ic__sms--back {
  position: absolute;
  transform: translateX(56px);
}
.ic__sms--icon {
  position: absolute;
  transform: translate(66px, 11px);
}
/*ic__profile -- иконка профиля */
.ic__profile--back {
  position: absolute;
  transform: translate(112px);
}
.ic__profile--icon {
  position: absolute;
  transform: translate(122px, 10px);
}

/*contact__telefon -- номер телефона*/
.contact__telefon {
  position: absolute;
  align-self: flex-end;
  transform: translateY(92px);
  font-size: 24px;
  letter-spacing: -0.6px;
  font-family: "TT Lakes";
}

/*lang*/
.lang {
  position: absolute;
  margin-top: 967px;
  margin-left: 24px;
  width: 87px;
  height: 24px;
  letter-spacing: -0.2px;
  font-family: "TT Lakes-Extra-Demibold";
}

.lang__ru {
  position: absolute;
  width: 24px;
  height: 24px;
  color: #1b1c21;
  transition-duration: 1s;
  transition-property: duration, opacity;
}
.lang__en {
  position: absolute;
  transform: translate(32px);
  width: 24px;
  height: 24px;
  color: #1b1c21;
  transition-duration: 1s;
  transition-property: duration, opacity;
}
.lang__ch {
  position: absolute;
  transform: translate(63px);
  width: 24px;
  height: 24px;
  color: #1b1c21;
  transition-duration: 1s;
  transition-property: duration, opacity;
}
/*стиль для мышки*/
.lang__ru:hover {
  transition-duration: 0.2s;
  opacity: 0.5;
}
.lang__en:hover {
  transition-duration: 0.2s;
  opacity: 0.5;
}
.lang__ch:hover {
  transition-duration: 0.2s;
  opacity: 0.5;
}
